In [22]:
tu = (23, 'abc', 4.56, (2,3), 'def')
li = ["abc", 34, 4.34, 23]
st = "Hello World"
st = 'Hello World'
st = """This is a multi-line string that uses triple quotes."""
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [23]:

li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [24]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [25]:

t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]

4.56

In [26]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:]

('abc', 4.56, (2, 3), 'def')

In [27]:
t[1:-1]

('abc', 4.56, (2, 3))

In [28]:
t[1:-1:2]

('abc', (2, 3))

In [29]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [30]:
t[:2]

(23, 'abc')

In [31]:
t[2:]

(4.56, (2, 3), 'def')

In [32]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [33]:
t = [1, 2, 4, 5]
3 in t

False

In [34]:
4 in t

True

In [35]:
4 not in t

False

In [36]:
a = 'abcde'

In [37]:
'c' in a

True

In [38]:
'cd' in a

True

In [39]:
'ac' in a

False

In [40]:
a = 'abcde'

In [41]:
'c' in a

True

In [42]:

'cd' in a

True

In [43]:
'ac' in a

False

In [44]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [45]:

[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [46]:
"Hello" + "" + "World"

'HelloWorld'